.wd-fg-color-black {
    color: black;
}

.wd-fg-color-gray {
    color: gray;
}

.wd-fg-color-white {
    color: white;
}

.wd-img-scale {
    max-width: 100px;
}


.wd-img-scale-min {
    min-width: 44px;
}