.wd-bg-black {
    background-color: black;
}
.wd-fg-white {
    color: white;
}
.wd-fg-gray {
    color: rgb(110, 118, 125);
}


.wd-border-bottom {
    border-bottom: solid;
    border-color: rgb(47, 51, 54);
    border-width: 1px;
}

.wd-pad-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.wd-font-style {
    text-decoration: none;
}
